.login-bg{
    background-image: url('../assests/login-cover.png') ;
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.have-account{
    cursor: pointer;
}